<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
</head>
<body>
    <form action="">
        <label for="fila">Fila: </label><br>
        <input type="number" id="fila" name="fila" /><br/><br/>
        <label for="columna">Columna: </label><br>
        <input type="number" id="columna" name="columna" /><br><br>
        <input type="submit" value="Crear" />
    </form>
</body>
</html>