<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablero Buscaminas</title>
</head>
<body>
    <p>Filas: {{ filas }}</p>
    <p>Columnas: {{ columnas }}</p>
    <table style="border: 1px solid black; align-items: center">
        {% for fila in rango_filas %}
            <tr style="border: 1px solid black; height: 15px;">
                {% for columna in rango_columnas %}
                    <td style="border: 1px solid black; width: 15px"> </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>